@import "themes/dark.css";
@import "themes/normal.css";

#error-page {
  text-align: center;
}

.error-page__button {
  width: 10%;
  height: 30;
  border: none;
  padding: 10px;
  background: #2c2;
}

.app {
  background: var(--bg-color);
  color: var(--primary-color);
  font-family: "PT Sans", sans-serif;
}

.app__buttonThemes {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  top: 95%;
  left: 95%;
  transform: translate(-90%, -90%);
  background: linear-gradient(
    -30deg,
    rgba(189, 189, 189, 1) 19%,
    rgba(94, 94, 94, 1) 57%
  );
  border: none;
  transition: 0.7s;
}

.app__buttonThemes:hover {
  width: 90px;
  height: 90px;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

.table {
  display: grid;
  grid-template-columns: 50px 2.5fr repeat(6, 1fr);
}

.table__header {
  background-color: var(--color-header);
  font-weight: bold;
  padding: 10px;
  text-align: left;
  color: var(--primary-color);
  height: 30px;
  display: flex;
  align-items: center;
}

.table__cell {
  padding: 10px;
  border: 1px solid #8f8f8f32;
  color: var(--secondary-color);
}

.table__cell-hover:hover {
  cursor: pointer;
  background-color: var(--color-hover);
}
