.contentUserEdit {
  width: 100%;
  height: 388px;
  gap: 60px;
}

.content__buttons {
  width: 100%;
  height: 48px;
  gap: 20px;
  margin-top: 90px;
  display: flex;
  justify-content: end;
}

.content__buttons-undo > button {
  width: 100px;
  height: 48px;
  gap: 10px;
  border: 1px solid #c4c4c4;
  background-color: #fff;
}

.content__buttons-save > button {
  width: 200px;
  height: 48px;
  gap: 10px;
  border: 1px solid #c4c4c4;
  background-color: #fff;
}
