main {
    width: 100%;
    height: 968px;
    padding: 80px 100px 80px 100px;
    gap: 10px;
    box-sizing: border-box;
  }
  
  main > .content {
    width: 100%;
    height: 808px;
    padding: 60px 80px 80px 80px;
    gap: 40px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #000;
    box-sizing: border-box;
  }
  
  .content__title {
    font-family: Karla;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 6px;
    text-align: center;
  }
  
  .content__user {
    width: 100%;
    height: 80px;
    gap: 12px;
  }
  
  .content__user > p {
    font-family: Rubik;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.20002500712871552px;
    text-align: left;
  }
  
  