.content__user-managment {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .content__user-managment-filter {
    display: flex;
  }
  
  .content__user-managment-deleteIcon {
    width: 48px;
    height: 48px;
    gap: 10px;
    border: 1px solid #c4c4c4;
    background: #fff;
    margin-top: 8px;
    cursor: pointer;
  }
  
  .content__user-managment-addUser > button {
    width: 150px;
    height: 48px;
    border: 1px solid #c4c4c4;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.2px;
    background-color: #fff;
    cursor: pointer;
  }
  