header {
  width: 100%;
  height: 88px;
  padding: 20px 80px 20px 80px;
  gap: 20px;
  border: 0px 0px 1px 0px;
  opacity: 0px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > button {
  width: 200px;
  height: 48px;
  padding: 14px, 112px, 14px, 112px;
  border: 1px solid #c4c4c4;
  opacity: 0px;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.20002500712871552px;
  background-color: #fff;
}

header > button:hover {
  background-color: #c4c4c4;
}
