body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #d6c6ff;
  }
  
  main {
    width: 70%;
    background-color: #eed6ff;
    margin: 50px auto;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  .table {
    display: grid;
    grid-template-columns: 50px 2.5fr repeat(6, 1fr);
    border: 1px solid #ddd;
  }
  
  .table__header {
    background-color: #f4f4f4;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .table__cell {
    padding: 10px;
    border: 1px solid #000;
  }
  