.content__userList {
  width: 100%;
  height: 476px;
  border: 1px solid #e3e8ee;
  margin-top: 40px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.content__userList-title {
  width: 100%;
  height: 76px;
  padding: 28px 36px 28px 36px;
  gap: 20px;
  display: flex;
}

.content__userList-title h5 {
  font-family: Karla;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
}

.content__userList-title-fullName {
  width: 200px;
  height: 20px;
  gap: 10px;
}

.content__userList-title-department {
  width: 404px;
  height: 20px;
  gap: 10px;
}

.content__userList-title-country {
  width: 200px;
  height: 20px;
  gap: 10px;
}

.content__userList-title-status {
  width: 100px;
  height: 20px;
  gap: 10px;
}

.content__userList-dataUser {
  width: 100%;
  height: 80px;
  padding: 0px 36px 28px 36px;
  gap: 20px;
  display: flex;
}

.content__userList-dataUser > div:first-child > p {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.20002500712871552px;
  text-align: left;
}

.content__userList-dataUser p {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.20002500712871552px;
  text-align: left;
}
